// Colors
$bg: #f9f9f9;
$orange: #ff8663;
$grey: #f0f0f0;
$grey-dark: #c4c4c4;
$white: #fff;
$text-black: #4f4f4f;
$text-grey: #a6a6a6;



// Fonts
$base-font-size: 12px;
$font-main: 'Arial', sans-serif;

//Path
$path-images: '../img';
$path-fonts: '../fonts/';